<%-include('cabecalho.ejs')%>
<form method="post">
  <input type="text" name="txtPesquisa" placeholder="Moeda desejada..." />
  <input type="submit" value="Pesquisar" class="btn btn-dark" />
</form>
<br />

<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Idade</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% for(usuario of Usuarios) { %>
  <tr>
    <td><%=usuario._id%></td>
    <td><%=usuario.nome%></td>
    <td><%=usuario.idade%></td>
    <td>
      <a class="btn btn-primary" href="/edit/<%=usuario._id%>">Editar</a>
    </td>
    <td>
      <a class="btn btn-danger" href="/del/<%=usuario._id%>">Deletar</a>
    </td>
  </tr>
  <% } %>
</table>
<%-include('rodape.ejs')%>
